<div class="tabs">
  <div class="tabs__btns">
    <button class="tabs__btn btn active" data-tab="1">Пункт 1</button>
    <button class="tabs__btn btn" data-tab="2">Пункт 2</button>
    <button class="tabs__btn btn" data-tab="3">Пункт 3</button>
  </div>
  <div class="tabs__contents active">
    <div class="tabs__content" data-content="1">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto at
        placeat iusto cumque? Commodi, fuga! Expedita itaque doloribus est harum
        minus?
      </p>
    </div>
    <div class="tabs__content" data-content="2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cumque
        blanditiis culpa?
      </p>
    </div>
    <div class="tabs__content" data-content="3">
      <p>lorem15</p>
    </div>
  </div>
</div>
